* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: cursive;
}

p {
    font-family: cursive;
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;

    overflow: hidden;
}

nav {
    background-color: #eaf0f1;
    left: 0;
    right: 0;
    position: fixed;
    box-shadow: 0 0 40px #bec5c5;
    top: 0;
    z-index: 99;
}

.nav-bar {
    justify-content: space-between;
    padding-block: 0px;
}

.company-logo img {
    width: 90px;
    height: 70px;
    border: 1px solid rgb(230, 222, 222);
}

.nav-items ul {
    gap: 20px;
}

.nav-items ul li {
    font-weight: bold;
    font-family: cursive;
    font-size: 20px;
    color: blue;
    cursor: pointer;
}

.hover-link:hover {
    color: red;
}

.hover-link:active {
    color: green;
}

.nav-item.active {
    color: green;
}

.search-bar {
    height: 32px;
    gap: 8px;
}

.news-input {
    padding-inline: 10px;
    border: none;
    border: 2px solid rgb(55, 24, 165);
    width: 200px;
    height: 100%;
}

.search-button {
    cursor: pointer;
    padding: 5px 20px;
    color: white;
    background-color: rgb(78, 78, 172);

}

.search-button:hover {
    background-color: rgb(145, 145, 190);
    color: white;
}

main {
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.5s ease;
}

.card:hover {
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #eaf0f1;
    transform: translateY(-2px);
}

.card-header img {
    object-fit: cover;
    width: 100%;
    height: 180px;

}

.card-content {
    padding: 12px;
}

.news-source {
    margin-block: 12px;
}